@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype'),
    url('./fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Accelerator';
  src: url('./fonts/accelerator.ttf') format('truetype');
}

:root {
  --color-primary: #00b16a;
  --color-secondary: #00a65a;
  --color-bg: #1e1e1e;
  --color-bg-alternative: #ff7f50;
  --color-bg-layer: rgba(255, 255, 255, 0.2);
  --color-bg-layer-al: rgba(0, 0, 0, 0.1);
  --color-font: #f2eaf6;
  --color-font-gray: #6c6a6c;
  --color-font-switch: #36454f;
  --color-font-color: var(--color-primary);
  --gap-xl: 24px;
  --gap-sm: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  background-color: var(--color-bg);
  color: var(--color-font);
}

/* Filter */
.filter-item[open] i.fa-chevron-down {
  transform: rotateX(180deg);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* custom select */
.custom-select select {
  display: none;
}

.select-selected {
  background-color: white;
}

.select-items div,
.select-selected {
  padding-left: 0.5rem; /* 8px */
  padding-right: 0.5rem; /* 8px */
  outline: none;
  width: 100%;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}
